@charset "UTF-8";
footer {
  font-size: 14px;
  line-height: 2;
  margin-top: 20px;
}

header, .title-container, .titulo-formato, .mapa {
  display: flex;
  justify-content: center;
}

/* Formularios */
.form {
  width: 35%;
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Menú de comidas */
.menu-title {
  width: 100%;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  padding-top: 10px;
}

.food-container {
  display: flex;
  flex-direction: column;
  margin: 80px 20px 80px 20px;
}

.food-title {
  text-align: center;
}

.food-description {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.price {
  margin: auto;
}

/* Galeria */
.fotos-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.foto-item {
  width: 200px;
  height: 200px;
  margin: 20px;
  object-fit: cover;
  filter: contrast(70%);
}
.foto-item:hover {
  filter: contrast(100%);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  transition: 1s;
}

/* Parrafos */
.formato-texto {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: black;
  line-height: 1.5;
  text-indent: 10px;
}

/* Titulos */
.title-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.titulo-formato {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Carousel */
@media only screen and (min-width: 770px) {
  .carousel .carousel-item {
    height: 500px;
  }

  .carousel-item img {
    object-fit: contain;
    top: 0;
    left: 0;
    max-height: 500px;
  }
}
.carousel-caption {
  background-color: rgba(39, 39, 39, 0.349);
}

/* Menú Bootstrap */
.nav-item a:hover {
  text-decoration: underline;
  color: white;
}

.menu-enlace {
  font-size: 2rem;
}

/* Encabezado */
header {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.parallax {
  margin-top: -24px;
  height: 70vh;
  background: fixed no-repeat 50% 50%;
  background-size: cover;
  background-image: url("../../images/galeria/restaurant-691397_640.jpg");
  display: flex;
}
.parallax .bloque {
  display: flex;
  background: rgba(0, 0, 0, 0.568);
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  border-radius: 7px;
  color: white;
  text-align: center;
}
.parallax .bloque p {
  display: flex;
  margin: 2rem;
  width: 20rem;
  height: 5rem;
}

.titulo-presentacion {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1rem;
  margin: 6rem 0 6rem 0;
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
  .invertir {
    display: flex;
  }
  .invertir .img-invertir {
    order: 1;
  }
  .invertir .texto-invertir {
    order: 2;
  }
}
.fila-carne {
  margin: 5rem 0 5rem 0;
}
.fila-carne div a img:hover {
  transform: translate(-3rem, 0);
  transition: 0.9s;
}

.fila-pasta {
  margin: 5rem 0 5rem 0;
}
.fila-pasta div a img:hover {
  transform: translate(3rem, 0);
  transition: 0.9s;
}

.fila-postre {
  margin: 5rem 0 5rem 0;
}
.fila-postre div a img:hover {
  transform: translate(-3rem, 0);
  transition: 0.9s;
}

.fila-vino {
  margin: 5rem 0 5rem 0;
}
.fila-vino div a img:hover {
  transform: translate(3rem, 0);
  transition: 0.9s;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.menubar, .title-container, .titulo-formato {
  background-color: brown;
}

.menu-enlace, .titulo-formato {
  color: #fddcab;
}

footer, .form {
  background-color: #fddcab;
  color: #5a5a5a;
}

.formato-texto, .menu-title, .form {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.food-description .form label {
  font-family: Arial, Helvetica, sans-serif;
}

.food-title {
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-formato {
  font-family: serif;
}

/*# sourceMappingURL=style.css.map */
