@charset "UTF-8";
footer {
  font-size: 14px;
  line-height: 2;
}

header, .title-container, .titulo-formato, .mapa {
  display: flex;
  justify-content: center;
}

/* Formularios */
.title-r-container {
  margin-top: -24px;
  height: 60vh;
  background-image: url("../../images/titulo-reservas.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.title-r-container .bloque-r-titulo {
  background-color: rgba(255, 255, 255, 0.678);
  text-align: center;
  border-radius: 5px;
  margin: auto;
  width: 250px;
}
.title-r-container .bloque-r-titulo .titulo-r-formato {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 15px 0 15px 0;
}

.reserva-container {
  width: 60%;
  height: 730px;
  margin: auto;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  margin-bottom: 30px;
}
.reserva-container .formu {
  width: 90%;
  position: relative;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
}
.reserva-container .formu .name-section {
  position: relative;
}
.reserva-container .formu .name-section input {
  width: 100%;
  height: 100%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.reserva-container .formu .name-section input:focus + .label-name .content-name, .reserva-container .formu .name-section input:valid + .label-name .content-name {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.reserva-container .formu .name-section input:focus + .label-name::after, .reserva-container .formu .name-section input:valid + .label-name::after {
  transform: translateX(0%);
}
.reserva-container .formu .name-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.reserva-container .formu .name-section label .content-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.reserva-container .formu .name-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.reserva-container .formu .surname-section {
  margin-top: 50px;
  position: relative;
}
.reserva-container .formu .surname-section input {
  width: 100%;
  height: 100%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.reserva-container .formu .surname-section input:focus + .label-surname .content-surname, .reserva-container .formu .surname-section input:valid + .label-surname .content-surname {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.reserva-container .formu .surname-section input:focus + .label-surname::after, .reserva-container .formu .surname-section input:valid + .label-surname::after {
  transform: translateX(0%);
}
.reserva-container .formu .surname-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.reserva-container .formu .surname-section label .content-surname {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.reserva-container .formu .surname-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.reserva-container .formu .diner-section {
  margin-top: 50px;
  position: relative;
}
.reserva-container .formu .diner-section input {
  width: 100%;
  height: 100%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.reserva-container .formu .diner-section input:focus + .label-diner .content-diner, .reserva-container .formu .diner-section input:valid + .label-diner .content-diner {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.reserva-container .formu .diner-section input:focus + .label-diner::after, .reserva-container .formu .diner-section input:valid + .label-diner::after {
  transform: translateX(0%);
}
.reserva-container .formu .diner-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.reserva-container .formu .diner-section label .content-diner {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.reserva-container .formu .diner-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.reserva-container .formu .date-section {
  margin-top: 50px;
  position: relative;
}
.reserva-container .formu .date-section input {
  width: 100%;
  height: 100%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.reserva-container .formu .date-section input:focus + .label-date .content-date, .reserva-container .formu .date-section input:valid + .label-date .content-date {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.reserva-container .formu .date-section input:focus + .label-date::after, .reserva-container .formu .date-section input:valid + .label-date::after {
  transform: translateX(0%);
}
.reserva-container .formu .date-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.reserva-container .formu .date-section label .content-date {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.reserva-container .formu .date-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.reserva-container .formu .time-section {
  margin-top: 50px;
  position: relative;
}
.reserva-container .formu .time-section input {
  width: 100%;
  height: 100%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.reserva-container .formu .time-section input:focus + .label-time .content-time, .reserva-container .formu .time-section input:valid + .label-time .content-time {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.reserva-container .formu .time-section input:focus + .label-time::after, .reserva-container .formu .time-section input:valid + .label-time::after {
  transform: translateX(0%);
}
.reserva-container .formu .time-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.reserva-container .formu .time-section label .content-time {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.reserva-container .formu .time-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.reserva-container .formu .phone-section {
  margin-top: 50px;
  position: relative;
}
.reserva-container .formu .phone-section input {
  width: 100%;
  height: 100%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.reserva-container .formu .phone-section input:focus + .label-phone .content-phone, .reserva-container .formu .phone-section input:valid + .label-phone .content-phone {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.reserva-container .formu .phone-section input:focus + .label-phone::after, .reserva-container .formu .phone-section input:valid + .label-phone::after {
  transform: translateX(0%);
}
.reserva-container .formu .phone-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.reserva-container .formu .phone-section label .content-phone {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.reserva-container .formu .phone-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.reserva-container .formu .mail-section {
  margin-top: 50px;
  position: relative;
}
.reserva-container .formu .mail-section input {
  width: 100%;
  height: 100%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.reserva-container .formu .mail-section input:focus + .label-mail .content-mail, .reserva-container .formu .mail-section input:valid + .label-mail .content-mail {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.reserva-container .formu .mail-section input:focus + .label-mail::after, .reserva-container .formu .mail-section input:valid + .label-mail::after {
  transform: translateX(0%);
}
.reserva-container .formu .mail-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.reserva-container .formu .mail-section label .content-mail {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.reserva-container .formu .mail-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 500px) {
  .reserva-container {
    width: 100%;
  }
}
/* Menú de comidas */
.title-m-container {
  margin-top: -24px;
  height: 60vh;
  background-image: url("../../images/titulo-menu.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.title-m-container .bloque-m-titulo {
  background-color: rgba(255, 255, 255, 0.678);
  text-align: center;
  border-radius: 5px;
  margin: auto;
  width: 250px;
}
.title-m-container .bloque-m-titulo .titulo-m-formato {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 15px 0 15px 0;
}

.menu-title {
  width: 100%;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  padding-top: 10px;
}

.food-container {
  display: flex;
  flex-direction: column;
  margin: 80px 20px 80px 20px;
}

.food-title {
  text-align: center;
}

.food-description {
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.price {
  margin: auto;
}

/* Galeria */
.title-g-container {
  margin-top: -24px;
  height: 60vh;
  background-image: url("../../images/titulo-galeria.jpg");
  background-size: cover;
  background-position: center 28%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.title-g-container .bloque-g-titulo {
  background-color: rgba(255, 255, 255, 0.747);
  text-align: center;
  border-radius: 5px;
  margin: auto;
  width: 250px;
}
.title-g-container .bloque-g-titulo .titulo-g-formato {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 15px 0 15px 0;
}

.fotos-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.foto-item {
  width: 200px;
  height: 200px;
  margin: 20px;
  object-fit: cover;
  filter: contrast(70%);
}
.foto-item:hover {
  filter: contrast(100%);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  transition: 1s;
}

/* Parrafos */
.formato-texto {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: black;
  line-height: 1.5;
  text-indent: 10px;
}

/* Titulos */
.title-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.titulo-formato {
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Carousel */
@media only screen and (min-width: 770px) {
  .carousel .carousel-item {
    height: 500px;
  }

  .carousel-item img {
    object-fit: contain;
    top: 0;
    left: 0;
    max-height: 500px;
  }
}
.carousel-caption {
  background-color: rgba(39, 39, 39, 0.349);
}

/* Menú Bootstrap */
.nav-item a:hover {
  text-decoration: underline;
  color: white;
}

.menu-enlace {
  font-size: 1.25rem;
}

/* Encabezado */
header {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.parallax {
  margin-top: -24px;
  height: 100vh;
  background: fixed no-repeat 50% 50%;
  background-size: cover;
  background-image: url("../../images/imagen-parallax.jpg");
  display: flex;
}
.parallax .bloque {
  display: flex;
  background: rgba(0, 0, 0, 0.568);
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  border-radius: 7px;
  color: white;
  text-align: center;
  width: 346px;
  height: 200px;
}
.parallax .bloque p {
  display: flex;
  margin: auto;
}

@media only screen and (max-width: 350px) {
  .parallax .bloque {
    width: 280px;
  }
}
.titulo-presentacion {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1rem;
  margin: 6rem 0 3rem 0;
}

@media only screen and (max-width: 700px) {
  .titulo-presentacion {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 6rem 0 0 0;
  }
}
@media only screen and (max-width: 350px) {
  .titulo-presentacion {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 280px) and (max-width: 768px) {
  .invertir {
    display: flex;
  }
  .invertir .img-invertir {
    order: 1;
  }
  .invertir .texto-invertir {
    order: 2;
  }
}
.fila-carne {
  margin: 5rem 0 5rem 0;
}
.fila-carne div a img:hover {
  transform: translate(-3rem, 0);
  transition: 0.9s;
}
.fila-carne div a img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fila-pasta {
  margin: 5rem 0 5rem 0;
}
.fila-pasta div a img:hover {
  transform: translate(3rem, 0);
  transition: 0.9s;
}
.fila-pasta div a img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fila-postre {
  margin: 5rem 0 5rem 0;
}
.fila-postre div a img:hover {
  transform: translate(-3rem, 0);
  transition: 0.9s;
}
.fila-postre div a img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fila-vino {
  margin: 5rem 0 5rem 0;
}
.fila-vino div a img:hover {
  transform: translate(3rem, 0);
  transition: 0.9s;
}
.fila-vino div a img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media only screen and (max-width: 768px) {
  .fila-carne {
    margin: 5rem 0 5rem 0;
  }
  .fila-carne div a img:hover {
    transform: none;
  }

  .fila-pasta {
    margin: 5rem 0 5rem 0;
  }
  .fila-pasta div a img:hover {
    transform: none;
  }

  .fila-postre {
    margin: 5rem 0 5rem 0;
  }
  .fila-postre div a img:hover {
    transform: none;
  }

  .fila-vino {
    margin: 5rem 0 5rem 0;
  }
  .fila-vino div a img:hover {
    transform: none;
  }
}
/* Formularios */
.title-c-container {
  margin-top: -24px;
  height: 60vh;
  background-image: url("../../images/titulo-contacto.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.title-c-container .bloque-c-titulo {
  background-color: rgba(255, 255, 255, 0.678);
  text-align: center;
  margin: auto;
  border-radius: 5px;
  width: 250px;
}
.title-c-container .bloque-c-titulo .titulo-c-formato {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 15px 0 15px 0;
}

.contacto-container {
  width: 60%;
  height: 730px;
  margin: auto;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.contacto-container .form-contacto {
  width: 90%;
  position: relative;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
}
.contacto-container .form-contacto .name-section {
  position: relative;
}
.contacto-container .form-contacto .name-section input {
  width: 100%;
  height: 7%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.contacto-container .form-contacto .name-section input:focus + .label-name .content-name, .contacto-container .form-contacto .name-section input:valid + .label-name .content-name {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.contacto-container .form-contacto .name-section input:focus + .label-name::after, .contacto-container .form-contacto .name-section input:valid + .label-name::after {
  transform: translateX(0%);
}
.contacto-container .form-contacto .name-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.contacto-container .form-contacto .name-section label .content-name {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.contacto-container .form-contacto .name-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.contacto-container .form-contacto .surname-section {
  margin-top: 30px;
  position: relative;
}
.contacto-container .form-contacto .surname-section input {
  width: 100%;
  height: 7%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.contacto-container .form-contacto .surname-section input:focus + .label-surname .content-surname, .contacto-container .form-contacto .surname-section input:valid + .label-surname .content-surname {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.contacto-container .form-contacto .surname-section input:focus + .label-surname::after, .contacto-container .form-contacto .surname-section input:valid + .label-surname::after {
  transform: translateX(0%);
}
.contacto-container .form-contacto .surname-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.contacto-container .form-contacto .surname-section label .content-surname {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.contacto-container .form-contacto .surname-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.contacto-container .form-contacto .mail-section {
  margin-top: 30px;
  position: relative;
}
.contacto-container .form-contacto .mail-section input {
  width: 100%;
  height: 7%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.contacto-container .form-contacto .mail-section input:focus + .label-mail .content-mail, .contacto-container .form-contacto .mail-section input:valid + .label-mail .content-mail {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.contacto-container .form-contacto .mail-section input:focus + .label-mail::after, .contacto-container .form-contacto .mail-section input:valid + .label-mail::after {
  transform: translateX(0%);
}
.contacto-container .form-contacto .mail-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.contacto-container .form-contacto .mail-section label .content-mail {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.contacto-container .form-contacto .mail-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.contacto-container .form-contacto .phone-section {
  margin-top: 30px;
  position: relative;
  margin-bottom: 10px;
}
.contacto-container .form-contacto .phone-section input {
  width: 100%;
  height: 7%;
  color: #4b4b4b;
  padding-top: 20px;
  border: none;
  outline: none;
}
.contacto-container .form-contacto .phone-section input:focus + .label-phone .content-phone, .contacto-container .form-contacto .phone-section input:valid + .label-phone .content-phone {
  transform: translateY(-25%);
  font-size: 14px;
  color: #5fa8d3;
}
.contacto-container .form-contacto .phone-section input:focus + .label-phone::after, .contacto-container .form-contacto .phone-section input:valid + .label-phone::after {
  transform: translateX(0%);
}
.contacto-container .form-contacto .phone-section label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.contacto-container .form-contacto .phone-section label .content-phone {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
}
.contacto-container .form-contacto .phone-section label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.contacto-container .form-contacto .message-section {
  margin: 30px 0 30px 0;
}
.contacto-container .form-contacto .message-section label {
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .contacto-container {
    width: 100%;
  }
}
/* Ubicación */
.u-container {
  height: 80vh;
  background-image: url("../../images/titulo-ubicacion.jpg");
  background-size: cover;
  background-position: center;
}
.u-container .bloque-u-titulo {
  background-color: rgba(255, 255, 255, 0.678);
  text-align: center;
  margin: auto;
}
.u-container .bloque-u-titulo .titulo-u-formato {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 15px 0 15px 0;
}
.u-container .mapa-container {
  display: flex;
  justify-content: center;
}
.u-container .mapa-container .mapa {
  width: 80vw;
  margin: 10px;
}

@media only screen and (max-width: 1024px) {
  .title-u-container {
    height: 60vh;
  }
  .title-u-container .mapa-container {
    width: 100vw;
    padding: 5px;
  }
}
.reserva-parallax {
  margin-top: -24px;
  height: 100vh;
  background: fixed no-repeat 50% 50%;
  background-size: cover;
  background-image: url("../../images/reserva.jpg");
  display: flex;
}
.reserva-parallax .reserva-bloque {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.568);
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  border-radius: 7px;
  color: white;
}
.reserva-parallax .reserva-bloque h2 {
  text-align: center;
  font-size: 3rem;
  margin: 20px;
}
.reserva-parallax .reserva-bloque p {
  text-align: center;
  font-size: 1rem;
  margin: auto;
  width: 256px;
}
.reserva-parallax .reserva-bloque .ver-mas:hover a {
  color: rgba(0, 0, 0, 0.568);
}
.reserva-parallax .reserva-bloque .ver-mas:hover {
  border: 1px solid rgba(0, 0, 0, 0.568);
  background-color: white;
}
.reserva-parallax .reserva-bloque .ver-mas {
  width: 100px;
  height: 42px;
  border: 1px solid white;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.reserva-parallax .reserva-bloque .ver-mas a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.contacto-inicio {
  height: 100vh;
  background-image: url("../../images/contacto.jpg");
  background-size: cover;
}
.contacto-inicio .contenedor-contacto {
  display: flex;
  align-items: center;
  width: 36vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.534);
  float: left;
}
.contacto-inicio .contenedor-contacto .row .titulo-inicio-contacto {
  text-align: center;
  font-size: 3rem;
}
.contacto-inicio .contenedor-contacto .row .texto-inicio-contacto {
  margin: 15px 15px 30px 15px;
  text-align: center;
}
.contacto-inicio .contenedor-contacto .row .contactenos:hover {
  border: 1px solid rgba(0, 0, 0, 0.568);
  background-color: white;
}
.contacto-inicio .contenedor-contacto .row .contactenos {
  width: 120px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  margin: auto;
}
.contacto-inicio .contenedor-contacto .row .contactenos a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 700px) {
  .contacto-inicio .contenedor-contacto {
    width: 100vw;
    float: none;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.menubar {
  background-color: brown;
}

.menu-enlace {
  color: #fddcab;
}

footer {
  background-color: #fddcab;
  color: #5a5a5a;
}

.formato-texto, .menu-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.food-description .formu label {
  font-family: Arial, Helvetica, sans-serif;
}

.food-title {
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-formato {
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=style.css.map */
