@import 'base/colors';
@import 'base/fonts';
@import 'components/footer';
@import 'extensions/extend';
@import 'extensions/mixins';
@import 'components/form-reservas';
@import 'components/menu-comidas';
@import 'components/galeria';
@import 'components/menuboots';
@import 'components/headers';
@import 'components/parallax';
@import 'components/comidas-inicio';
@import 'components/form-contacto';
@import 'components/reserva-parallax';
@import 'components/inicio-contacto';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}