/* Carousel */
@media only screen and (min-width: 770px){

    .carousel .carousel-item {
        height: 500px;
      }
      
    .carousel-item img {
          object-fit: contain;
          top: 0;
          left: 0;
          max-height: 500px;
      }
    }
    .carousel-caption {
        background-color: rgba(39, 39, 39, 0.349);
    }