/* Index - Presentacion Menú */
.titulo-presentacion{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1rem;
    margin: 6rem 0 3rem 0;
}
@media only screen and (max-width: 700px) {
    .titulo-presentacion{
        font-size: 3rem;
        letter-spacing: 0.3rem;
        margin: 6rem 0 0 0;
    }
}    

@media only screen and (max-width: 350px) {
    .titulo-presentacion{
        font-size: 2rem;
    }
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
    .invertir {
        display: flex;

        .img-invertir{
            order: 1;
        }
        .texto-invertir{
            order: 2;
        }
    }
}

.fila-carne{
    margin: 5rem 0 5rem 0;
        div a img:hover{
            @include transform(translate(-3rem, 0));
            transition: 0.90s;
        }
        div a img{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        .col-12 div h2{      
            font-size: 2.1rem;
            margin-top: 10px;           
        } 
}

.fila-pasta{
    margin: 5rem 0 5rem 0;
    div a img:hover{
        @include transform(translate(3rem, 0));
        transition: 0.90s;
    }
    div a img{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .col-12 div h2{      
        font-size: 2.1rem;
        margin-top: 10px;           
    } 
}
.fila-postre{
    margin: 5rem 0 5rem 0;
    div a img:hover{
        @include transform(translate(-3rem, 0));
        transition: 0.90s;
    }
    div a img{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .col-12 div h2{      
        font-size: 2.1rem;
        margin-top: 10px;           
    } 
}
.fila-vino{
    margin: 5rem 0 5rem 0;
    div a img:hover{
        @include transform(translate(3rem, 0));
        transition: 0.90s;
    }
    div a img{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .col-12 div h2{      
        font-size: 2.1rem;
        margin-top: 10px;           
    } 
}

@media only screen and (max-width: 768px){
    .fila-carne{
    margin: 5rem 0 5rem 0;
        div a img:hover{
            @include transform(none);
        }
    }
    .fila-pasta{
        margin: 5rem 0 5rem 0;
        div a img:hover{
            @include transform(none);
        }
    }
    .fila-postre{
        margin: 5rem 0 5rem 0;
        div a img:hover{
            @include transform(none);
        }
    }
    .fila-vino{
        margin: 5rem 0 5rem 0;
        div a img:hover{
            @include transform(none);
        }
    }
}