@import '../extensions/extend';

/* Index - Presentacion Menú */
.titulo-presentacion{
    @extend %title-76;
}
@media only screen and (max-width: 700px) {
    .titulo-presentacion{
        font-size: 49px;
        letter-spacing: 4px;
        margin: 96px 0 0 0;
    }
}    

@media only screen and (max-width: 350px) {
    .titulo-presentacion{
        font-size: 31px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
    .invertir {
        display: flex;

        .img-invertir{
            order: 1;
        }
        .texto-invertir{
            order: 2;
        }
    }
}

.fila-carne{
    margin: 80px 0;
        div a img:hover{
            @include transform(translate(-48px, 0));
        }
        div a img{
            border-radius: 8px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            transition: 0.90s;
        }
        .col-12 div h2{      
            @extend %title-31;
            margin-top: 8px;           
        } 
        .col-12 div p{
            @extend %text-16;
        }
        .col-12 div p b{
        color: $primary-color;
        }
}
.fila-pasta{
    margin: 80px 0;
    div a img:hover{
        @include transform(translate(48px, 0));
    }
    div a img{
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: 0.90s;
    }
    .col-12 div h2{      
        @extend %title-31;
        margin-top: 8px;           
    } 
    .col-12 div p{
        @extend %text-16;
    }
    .col-12 div p b{
    color: $primary-color;
    }
}
.fila-postre{
    margin: 80px 0;
    div a img:hover{
        @include transform(translate(-48px, 0));
        
    }
    div a img{
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: 0.90s;
    }
    .col-12 div h2{      
        @extend %title-31;
        margin-top: 8px;
    } 
    .col-12 div p{
        @extend %text-16;
    }
    .col-12 div p b{
    color: $primary-color;
    }
}
.fila-vino{
    margin: 80px 0;
    div a img:hover{
        @include transform(translate(48px, 0));
        ;
    }
    div a img{
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        transition: 0.90s
    }
    .col-12 div h2{      
        @extend %title-31;
        margin-top: 8px;           
    } 
    .col-12 div p{
        @extend %text-16;
    }
    .col-12 div p b{
    color: $primary-color;
    }
}

@media only screen and (max-width: 768px){
    .fila-carne{
    margin: 80px 0;
        div a img:hover{
            @include transform(none);
        }
    }
    .fila-pasta{
        margin: 80px 0;
        div a img:hover{
            @include transform(none);
        }
    }
    .fila-postre{
        margin: 80px 0;
        div a img:hover{
            @include transform(none);
        }
    }
    .fila-vino{
        margin: 80px 0;
        div a img:hover{
            @include transform(none);
        }
    }
}