@import '../extensions/extend';
@import '../base/colors';

/* Contacto */
.title-c-container{
    height: 60vh;
    background-image: url('../../images/titulo-contacto.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .bloque-c-titulo{
        margin: auto;
        width: fit-content;
        .titulo-c-formato{
            @extend %title-31;
            padding: 24px 48px;
            border-radius: 8px;
            background-color: $transparent-white-color;
        }
    }
}
.contacto-container{
    width: 90%;
    max-width: 800px;
    margin: auto;
    border: 1px solid $white-color;
    border-radius: 16px;
    box-shadow: $grey-20 0px 18px 50px -10px;
    padding: 48px;
    .form-contacto{
        width: 90%;
        max-width: 800px;
        position: relative;
        margin: auto;
        overflow: hidden;
        .name-section{
            position: relative;
            input{
                width: 100%;
                height: 100%;
                padding-top: 32px;
                border: none;
                outline: none;
            }
            input:focus + .label-name .content-name, input:valid + .label-name .content-name{
                @include transform(translateY(-25%));
                @extend %text-input-effect;
            }
            input:focus + .label-name::after, input:valid + .label-name::after{
                @include transform(translateX(0%));
            }
            label{
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid $text-color;
                .content-name{
                    position: absolute;
                    bottom: 24px;
                    left: 0px;
                    transition: all 0.3s ease;
                }
            }
            label::after{
                content:"";
                position: absolute;
                left: 0px;
                bottom: -1px;
                height: 100%;
                width: 100%;
                border-bottom: 3px solid $effect-color-input;
                @include transform(translateX(-100%));
                transition: transform 0.3s ease;
            }
        }

        .surname-section{
            margin-top: 32px;
            position: relative;
            input{
                width: 100%;
                height: 100%;
                padding-top: 32px;
                border: none;
                outline: none;
            }
            input:focus + .label-surname .content-surname, input:valid + .label-surname .content-surname{
                @include transform(translateY(-25%));
                @extend %text-input-effect;
            }
            input:focus + .label-surname::after, input:valid + .label-surname::after{
                @include transform(translateX(0%));
            }
            label{
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid $text-color;
                .content-surname{
                    position: absolute;
                    bottom: 24px;
                    left: 0px;
                    transition: all 0.3s ease;
                }
            }
            label::after{
                content:"";
                position: absolute;
                left: 0px;
                bottom: -1px;
                height: 100%;
                width: 100%;
                border-bottom: 3px solid $effect-color-input;
                @include transform(translateX(-100%));
                transition: transform 0.3s ease;
            }
        }

        .mail-section{
            margin-top: 32px;
            position: relative;
            input{
                width: 100%;
                height: 100%;
                padding-top: 32px;
                border: none;
                outline: none;
            }
            input:focus + .label-mail .content-mail, input:valid + .label-mail .content-mail{
                @include transform(translateY(-25%));
                @extend %text-input-effect;
            }
            input:focus + .label-mail::after, input:valid + .label-mail::after{
                @include transform(translateX(0%));
            }
            label{
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid $text-color;
                .content-mail{
                    position: absolute;
                    bottom: 24px;
                    left: 0px;
                    transition: all 0.3s ease;
                }
            }
            label::after{
                content:"";
                position: absolute;
                left: 0px;
                bottom: -1px;
                height: 100%;
                width: 100%;
                border-bottom: 3px solid $effect-color-input;
                @include transform(translateX(-100%));
                transition: transform 0.3s ease;
            }
        } 

        .phone-section{
            margin-top: 32px;
            position: relative;
            input{
                width: 100%;
                height: 100%;
                padding-top: 32px;
                border: none;
                outline: none;
            }
            input:focus + .label-phone .content-phone, input:valid + .label-phone .content-phone{
                @include transform(translateY(-25%));
                @extend %text-input-effect;
            }
            input:focus + .label-phone::after, input:valid + .label-phone::after{
                @include transform(translateX(0%));
            }
            label{
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                border-bottom: 1px solid $text-color;
                .content-phone{
                    position: absolute;
                    bottom: 24px;
                    left: 0px;
                    transition: all 0.3s ease;
                }
            }
            label::after{
                content:"";
                position: absolute;
                left: 0px;
                bottom: -1px;
                height: 100%;
                width: 100%;
                border-bottom: 3px solid $effect-color-input;
                @include transform(translateX(-100%));
                transition: transform 0.3s ease;
            }
        } 

        .message-section{
            margin: 32px 0;
            label{
                margin-bottom: 4px;
            }
            .form-control:focus{
                outline: none;
    border:1px solid $effect-color-input;
    box-shadow: none;
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .contacto-container{
        width: 100%;
    }
}

/* Ubicación */

.u-container{
    height: fit fit-content;
    background-image: url('../../images/titulo-ubicacion.jpg');
    background-size: cover;
    background-position: center;
    padding: 64px 0;
    .bloque-u-titulo{
        margin: auto;
        width: fit-content;
        .titulo-u-formato{
            @extend %title-31;
            padding: 24px 48px;
            border-radius: 8px;
            background-color: $transparent-white-color;
        }
    }
    .mapa-container{
        .mapa{
            width: 90%;
            max-width: 800px;
            margin: 16px auto;
            @extend %flexbox-center;
            iframe{
                width: 100vw;
                height: 400px;
            }
        }
    }
}