/* Galeria */
.title-g-container{
    margin-top: -24px;
    height: 60vh;
    background-image: url('../../images/titulo-galeria.jpg');
    background-size: cover;
    background-position: center 28%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .bloque-g-titulo{
        background-color: rgba(255, 255, 255, 0.747);
        text-align: center;
        border-radius: 5px;
        margin: auto;
        width: 250px;
            .titulo-g-formato{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            margin: 15px 0 15px 0;
            }
    }
}
.fotos-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
}


.foto-item {
    width: 200px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
    filter: contrast(70%);

    &:hover {
        filter: contrast(100%);
        @include transform(scale(1.02));
        transition: 1s;
    }
}