@import '../extensions/extend';
@import '../base/colors';

/* Index - Sección Contacto */
.contacto-inicio{
    height: 100vh;
    background-image: url('../../images/contacto.jpg');
    background-size: cover;
    .contenedor-contacto{
        display: flex;
        align-items: center;
        width: 36vw;
        height: 100vh;
        background-color: $transparent-white-color;
        float: left;
        .row{
            .titulo-inicio-contacto{
                @extend %title-49;
                }
                .texto-inicio-contacto{
                margin: auto;
                @extend %text-16;
                padding: 24px;
                }
                
                .contactenos{
                width: fit-content;
                border: 1px solid $text-color;
                border-radius: 16px;
                margin:  0 auto;
                padding: 16px 32px;
                transition: 0.3s;
                cursor: pointer;
                a{
                    text-decoration: none;
                    @extend %text-16;
                }
                &:hover{
                    border: 1px solid $white-color;
                    background-color: $text-color;
                    a{
                        @extend %text-16-white;
                    }
                    }
            }        
        }
    }
}
@media only screen and (max-width: 700px){
    .contacto-inicio{
        .contenedor-contacto{
            width: 100vw;
            float: none;
        }
    }
}
