.contacto-inicio{
    height: 100vh;
    background-image: url('../../images/contacto.jpg');
    background-size: cover;
    .titulo-inicio-contacto{
        top: 20px;
        left: 200px;
    }
    .texto-inicio-contacto{
        top: 20px;
        left: 200px;
    }
}