@import '../extensions/extend';
@import '../base/colors';

/* Menú Bootstrap */
.menubar{
    background-color: $primary-color;
    min-height: 48px;
    .nav-item a{
        transition: 0.3s;
        &:hover{
            text-decoration: underline;
            color: $white-color;
        }
    }
    .menu-enlace{
        @extend %navlink-font;
    }
}