@import '../extensions/extend';
@import '../base/colors';

/* Menú de comidas */
.title-m-container{
    height: 60vh;
    background-image: url('../../images/titulo-menu.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    .bloque-m-titulo{
        margin: auto;
        width: fit-content;
        .titulo-m-formato{
            @extend %title-31;
            padding: 24px 48px;
            border-radius: 8px;
            background-color: $transparent-white-color;
        }
    }
}

.menu-title h2{
    width: 100%;
    @extend %title-menu;
    border-bottom: 1px solid $grey-50;
    padding: 8px 0;
}
.food-container {
    display: flex;
    flex-direction: column;
    margin: 80px 24px;
}
.food-title h3{
    @extend %title-food;
}
.food-description p{
    @extend %description-food;
}
.price {
    margin: auto;
}