/* Menú Bootstrap */
.menubar{
    background-color: rgb(166, 43, 43);
    .nav-item a:hover{
        text-decoration: underline;
        color: white;
    }
    .menu-enlace{
        font-size: 1.25rem;
        color:  rgb(253, 220, 171);
    }
}