@import '../extensions/extend';
@import '../base/colors';

/* Index - Parallax de reserva */
.reserva-parallax{
    height: 100vh;
    background: fixed no-repeat 50% 50%;
    background-size: cover;
    background-image: url('../../images/reserva.jpg');
    display: flex;
    .reserva-bloque{
        background: $transparent-bg-color;
        margin: auto;
        border-radius: 16px;
        padding: 16px;
        .container .row .col-12 h3{
            @extend %title-49-white;
            margin: 16px;
        }
        p{
            @extend %text-16-white;
            margin: auto;
            max-width: 400px;
        }
        .ver-mas:hover a{
            color:  $transparent-bg-color;
        }
        .ver-mas:hover{
            border: 1px solid $transparent-bg-color;
            background-color: $white-color;
        }
        .ver-mas{
            width: fit-content;
            border: 1px solid $white-color;
            border-radius: 16px;
            margin: 32px auto;
            text-align: center;
            padding: 16px 32px;
            transition: 0.3s;
            cursor: pointer;
            a{
                text-decoration: none;
                @extend %text-16-white;
            }
        }
    }
}