$primary-color: hsl(0,59%,41%);
$secondary-color: hsl(36,95%,83%);
$input-color:hsl(0, 0%, 29%);
$text-color: hsl(0, 0%, 15%);
$transparent-bg-color: hsla(0, 0%, 15%, 0.70);
$white-color: hsl(0, 0%, 95%);
$transparent-white-color: hsla(0, 0%, 95%, 0.75);
$grey-50: hsl(0, 0%, 50%);
$grey-20: hsl(0, 0%, 80%);
$effect-color-input: hsl(36,95%,33%);