$font-parrafos: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-nombre-comidas: Georgia, 'Times New Roman', Times, serif;
$font-descripcion-comidas: Arial, Helvetica, sans-serif;
$font-footer: Verdana, Geneva, Tahoma, sans-serif;
$font-titulo: 'Montserrat', sans-serif;